html {
  font-family: Lora, serif;
}

.masthead {

}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {

}

.banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

.banner-content {
  padding-top: 300px;

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
